{% extends "base.html" %}
{% block title %} Lista de Productos {% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Producto</h1>
        <hr class="intro-divider">
        <div class="center">
          <form method="post" action="{{ url_for('producto_bp.review_checkout') }}">
            <table class="table table-striped table-bordered" style="margin: auto;">
              <thead>
                <tr>
                  <th style="width: 10%;"> Imagen </th>
                  <th style="width: 25%;"> Nombre </th>
                  <th style="width: 30%;"> Descripción </th>
                  <th style="width: 10%;"> Categoria </th>
                  <th style="width: 5%;"> Precio </th>
                  <th style="width: 7%;"> En stock </th>
                  <th style="width: 15%;"> Comprar </th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos.items %}
                <tr>
                  <td>
                    <a href="#" onclick="showLargeImage('{{ url_for('producto_bp.get_producto_image', producto_id=producto.id) }}'); return false;">
                        <img src="{{ url_for('producto_bp.get_producto_image', producto_id=producto.id) }}" class="thumbnail-img" alt="Product Image">
                    </a>
                  </td>
                  <td> {{ producto.nombre }}</td>
                  <td> {{ producto.descripcion }}</td>
                  <td> {{ producto.categoria }}</td>
                  <td> {{ producto.precio }}</td>
                  <td> {{ producto.stock }}</td>
                  <td>
                    <input type="checkbox" name="selected_products[]" value="{{ producto.id }}">
                    <input type="number" name="product_{{ producto.id }}" value="0" min="1" max="10" disabled>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div><button type="submit" class="btn-default">Comprar productos</button></div>
          </form>

          <!-- Pagination products per 10 -->
          <div class="pagination">
                <ul class="pagination">
                    {% if productos.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('producto_bp.lista_productos', page=productos.prev_num) }}" style="color: #aec251;">«</a>
                        </li>
                    {% endif %}
                    {% for num in productos.iter_pages() %}
                        {% if num %}
                            <li class="page-item{% if num == productos.page %} active{% endif %}">
                                <a class="page-link" href="{{ url_for('producto_bp.lista_productos', page=num) }}" style="color: #aec251;">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="disabled"><span style="color: #aec251;">...</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if productos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('producto_bp.lista_productos', page=productos.next_num) }}" style="color: #aec251;">»</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for displaying larger image -->
<div class="modal fade" id="largeImageModal" tabindex="-1" role="dialog" aria-labelledby="largeImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img id="largeImage" src="" class="img-responsive" alt="Large Product Image">
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Add event listeners to checkboxes
        document.querySelectorAll('input[name="selected_products[]"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                handleCheckboxChange(checkbox);
            });
        });
    });

    function handleCheckboxChange(checkbox) {
        const quantityInput = checkbox.parentElement.querySelector('input[type="number"]');
        if (checkbox.checked) {
            quantityInput.removeAttribute("disabled");
        } else {
            quantityInput.setAttribute("disabled", "disabled");
        }
    }

    function showLargeImage(imageUrl) {
      $('#largeImage').attr('src', imageUrl);
      $('#largeImageModal').modal('show');
    }
</script>
{% endblock %}
