<!-- templates/productos/review_checkout.html -->
{% extends "base.html" %}
{% block title %} Review Checkout {% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1>Revise su pago</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cuantidad</th>
            </tr>
          </thead>
          <tbody>
            {% for product_id, quantity in selected_products.items() %}
            <tr>
              <td>{{ product_names[product_id] }}</td>
              <td>{{ quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
          <p>Precio total a pagar:: {{ total_amount }}</p>
        </div>
        <form method="post" action="{{ url_for('producto.confirm_checkout') }}">
          <input type="hidden" name="selected_products" value="{{ selected_products }}">
          <button type="submit" class="btn-default">Confirmar pago</button>
        </form>
        <a href="{{ url_for('producto.lista_productos') }}">Volver a la lista de selección de productos</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
