{% extends 'admin/master.html' %}
{% import "bootstrap/utils.html" as utils %}
{% block body %}
{{ super() }}
<script type="text/javascript">
  window.setTimeout("document.getElementById('flash-message').style.display='none';", 2500);
</script>
<div id="flash-messages"> {{ utils.flashed_messages() }}</div>
<div class="row-fluid">
  {% if current_user.is_authenticated and current_user.is_admin %}
    <h1>Panel de Admin</h1>
    <p>
      Bienvenido al panel de administración.
    </p>
  {% else %}
    <form method="POST" action="">
      {{ form.hidden_tag() if form.hidden_tag }}
      {% for field in form if field.type != 'CSRFTokenField' %}
      <div class="form-group">
        {{ field.label }}<br>
        {{ field }}
        {% if field.errors %}
        <ul>
          {% for error in field.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit"> Submit </button>
      <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back </a>
    </form>
  {{ link | safe }}
  {% endif %}
</div>
{% endblock body %}
