{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %} Sign In {% endblock %}
{% block body %}
<script type="text/javascript">
  window.setTimeout("document.getElementById('flash-message').style.display='none';", 2500);
</script>
<div class="content-section">
  <br/>
  <div id="flash-message">{{ utils.flashed_messages() }} </div>
  <br/>
  <div class="center">
    <h1>Inicia sesión para acceder a tu cuenta</h1>
    <br/>
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
