body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #aaaaaa;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}


.flex { display:flex;}

.field {
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
}

.buy-button-container {
    text-align: right;
    margin-top: 10px;
}

/* Styles for the Comprar button (same as before) */
.buy-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 170px;
}

.buy-button:hover {
    background-color: #45a049;
}

button {
  height: 40px;
  width: 200px;
  outline: none;
  background: white;
  border: black solid 2px;
}

button:active {
  background: blue;
}

.timer {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-bottom: .75rem;
}

.progress {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #cdc7c2;
    background-image: none;
    -webkit-appearance: none;
}

.progress,
.progress::-webkit-progress-bar {
    background-color: #fff;
}

.progress--countdown::-webkit-progress-value {
    background-color: #65F596;
}

.progress--countdown::-moz-progress-bar {
    background-color: #65F596;
}
